* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(10, 10, 10);
  color: rgb(245, 245, 245);
}

.header {
  width: 100%;
  min-height: 7.5rem;
  margin: 1.5rem 0;
  display: grid;
  place-items: center;

  & .header__title {
    font-size: 3rem;
  }

  & .header__description {
    color: rgb(233, 233, 233);
  }
}

.container {
  width: 100%;
  display: grid;
  place-items: center;

  & .container-select {
    padding: .4rem .8rem;
    border-radius: 0.5rem;
    transition: .3s;
    border: none;

    &:focus {
      box-shadow: 0 0 8px rgba(223, 223, 223, 0.5);
      border: none;
    }
  }
}

.main {
  max-width: 53.125rem;
  min-height: calc(100dvh - 9rem);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;

  & .main-card {
    width: fit-content;
    color: rgb(10, 10, 10);
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: white 3px solid;
    background: rgb(68, 170, 59);

    & .main-card__title {
      text-align: center;
    }

    & .main-card__details {
      margin-top: .5rem;
      display: flex;
      justify-content: space-evenly;
      gap: 3rem;

      & .main-card__info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}